<div class="download_category category" id="download_category-<%= download_category.id %>">
  <h1 class="downloads_category-name"><%= download_category.name %></h1>

  <% unless download_category.description.blank? %>
    <div class="download_categories-description">
      <p><%= download_category.description %></p>
    </div>
  <% end %>

  <div class="download_category-downloads item_list">

    <% if download_category.ecm_downloads_downloads.published.count == 0 %>
      <p><%= t('ecm.downloads.download_category.messages.no_downloads_available') %></p>
    <% else %>
      <%= render partial: 'ecm/downloads/downloads/table_in_download_category', locals: { downloads: download_category.ecm_downloads_downloads.published } %>
    <% end %>
  </div>

  <%= render partial: 'ecm/downloads/download_categories/table', locals: { download_categories: Ecm::Downloads::DownloadCategoryDecorator.decorate_collection(download_category.descendants) } %>
</div>
