<div class="download_category category" id="download_category-<%= download_category.id %>">
  <h1 class="downloads_category-name"><%= download_category.name %></h1>

  <% unless download_category.description.blank? %>
    <div class="download_categories-description">
      <p><%= download_category.description %></p>
    </div>
  <% end %>

  <div class="list-group">
    <%= render partial: 'download_category_in_index', collection: Ecm::Downloads::DownloadCategoryDecorator.decorate_collection(download_category.descendants), as: :download_category %>
  </div>

  <div class="download_category-downloads item_list">
    <h2><%= Ecm::Downloads::DownloadCategory.human_attribute_name(:ecm_downloads_downloads) %></h2>
    <% if download_category.ecm_downloads_downloads.published.count == 0 %>
      <p><%= t('ecm.downloads.download_category.messages.no_downloads_available') %></p>
    <% else %>
      <%= render partial: 'ecm/downloads/downloads/table', locals: { downloads: download_category.ecm_downloads_downloads.published } %>
    <% end %>
  </div>
</div>
