<h3><%= download.human %></h3>

<div class="description bottom-margin-1">
  <%= download.description %>
</div>

<div class="item-actions well">
  <%= link_to([:download, download], { :class => 'btn btn-primary' }) do %>
    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> <%= t('ecm.downloads.download.actions.start_download') %> (<%= download.filesize %>)
  <% end %>
</div>