<tr class="<%= download.class.name.underscore.gsub('/', ' ') %>" id="<%= "#{download.class.name.underscore.gsub('/', '-')}-#{download.to_param}" %>">
  <td title="<%= download.description %>"><%= link_to download.name, download %></td>
  <td><%= link_to download.ecm_downloads_download_category.human, download.ecm_downloads_download_category %></td>
  <td><%= number_to_human_size(download.asset_file_size) %></td>
  <td>
    <%= link_to([:download, download], { :class => 'btn btn-primary btn-xs pull-right' }) do %>
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span> <%= t('ecm.downloads.download.actions.start_download') %>
    <% end %>
  </td>
</tr>